#IntelliJ
/.gradle/
/.idea/
/build/
/out/

#Jadex
#Verzeichnis "settings_PCNAME" und Datei "PCNAME.settings.xml" werden von Jadex erstellt
/settings_*
/*.settings.xml
/platform_auto.conf

#IRPact
/irpact.log

#Daniel :)
/testfiles/

#Eclipse
.classpath
.project
.readme.md.swp
.settings/
bin/

