[
  {
    :label "Agents" 
    :sections [
      {
        :label "Consumer" 
        :sections [
          {
            :label "Groups" 
            :set "set_IConsumerAgentGroup" 
            :tags [["IConsumerAgentGroup" "informationAuthority"] ["IConsumerAgentGroup" "numberOfAgents"]] 
            :sections [
              {
                :label "Affinity" 
                :set "set_IBasicAffinityMapping" 
                :tags [["link" "IBasicAffinityMapping" "IBasicAffinitiesEntry" "affinityEntries"]] 
                :sections [
                  {
                    :label "Entry" 
                    :set "set_IBasicAffinitiesEntry" 
                    :tags [["link" "IBasicAffinitiesEntry" "IConsumerAgentGroup" "from"] ["link" "IBasicAffinitiesEntry" "IConsumerAgentGroup" "to"] ["IBasicAffinitiesEntry" "affinityValue"]]
                  }
                ]
              }
            ]
          } 
          {
            :label "Group-Attribute-Mapping" 
            :set "set_IConsumerAgentGroup" 
            :tags [["link" "IConsumerAgentGroup" "IConsumerAgentGroupAttribute" "cagAttributes"]]
          } 
          {
            :label "Attribute-Distribution-Mapping" 
            :set "set_IConsumerAgentGroupAttribute" 
            :tags [["link" "IConsumerAgentGroupAttribute" "IUnivariateDoubleDistribution" "cagAttrDistribution"]]
          }
        ]
      }
    ]
  } 
  {
    :label "Products" 
    :sections [
      {
        :label "FixedProduct-Awareness" 
        :set "set_IFixedProductAwareness" 
        :tags [["link" "IFixedProductAwareness" "IConsumerAgentGroup" "awarenessAgentGroup"] ["link" "IFixedProductAwareness" "IFixedProduct" "awarenessFixedProduct"] ["link" "IFixedProductAwareness" "IUnivariateDoubleDistribution" "awarenessDistribution"]]
      } 
      {
        :label "FixedProduct" 
        :set "set_IFixedProduct" 
        :tags [["link" "IFixedProduct" "IProductGroup" "fpGroup"] ["link" "IFixedProduct" "IFixedProductAttribute" "fpAttributes"]]
      } 
      {
        :label "FixedAttributes" 
        :set "set_IFixedProductAttribute" 
        :tags [["link" "IFixedProductAttribute" "IProductGroupAttribute" "fpaGroupAttribute"] ["IFixedProductAttribute" "fpaValue"]]
      } 
      {
        :label "Group-Attribute-Mapping" 
        :set "set_IProductGroup" 
        :tags [["link" "IProductGroup" "IProductGroupAttribute" "pgAttributes"]]
      } 
      {
        :label "Attribute-Distribution-Mapping" 
        :set "set_IProductGroupAttribute" 
        :tags [["link" "IProductGroupAttribute" "IUnivariateDoubleDistribution" "pgAttrDistribution"]]
      }
    ]
  } 
  {
    :label "Distribution" 
    :sections [
      {
        :label "BooleanDistribution" 
        :set "set_IBooleanDistribution" 
        :tags [["IBooleanDistribution" "boolDistSeed"]]
      } 
      {
        :label "ConstantUnivariateDistribution" 
        :set "set_IConstantUnivariateDistribution" 
        :tags [["IConstantUnivariateDistribution" "constDistValue"]]
      } 
      {
        :label "FiniteMassPointsDiscreteDistribution" 
        :set "set_IFiniteMassPointsDiscreteDistribution" 
        :tags [["IFiniteMassPointsDiscreteDistribution" "fmpSeed"] ["link" "IFiniteMassPointsDiscreteDistribution" "IMassPoint" "massPoints"]]
      } 
      {
        :label "Util" 
        :sections [
          {
            :label "MassPoints" 
            :set "set_IMassPoint" 
            :tags [["IMassPoint" "mpValue"] ["IMassPoint" "mpWeight"]]
          }
        ]
      } 
      {
        :label "RandomBoundedDistribution" 
        :set "set_IRandomBoundedDistribution" 
        :tags [["IRandomBoundedDistribution" "rndDistLowerBound"] ["IRandomBoundedDistribution" "rndDistUpperBound"] ["IRandomBoundedDistribution" "rndDistSeed"]]
      }
    ]
  } 
  {
    :label "Network" 
    :sections [
      {
        :label "HeterogeneousSmallWorld" 
        :set "set_IFastHeterogeneousSmallWorldTopology" 
        :tags [["IFastHeterogeneousSmallWorldTopology" "edgeType"] ["IFastHeterogeneousSmallWorldTopology" "isSelfReferential"] ["IFastHeterogeneousSmallWorldTopology" "initialWeight"] ["IFastHeterogeneousSmallWorldTopology" "topoSeed"] ["link" "IFastHeterogeneousSmallWorldTopology" "IFastHeterogeneousSmallWorldTopologyEntry" "topoEntries"]] 
        :sections [
          {
            :label "Entry" 
            :set "set_IFastHeterogeneousSmallWorldTopologyEntry" 
            :tags [["link" "IFastHeterogeneousSmallWorldTopologyEntry" "IConsumerAgentGroup" "topoGroup"] ["IFastHeterogeneousSmallWorldTopologyEntry" "beta"] ["IFastHeterogeneousSmallWorldTopologyEntry" "z"]]
          }
        ]
      }
    ]
  } 
  {
    :label "SpatialModel" 
    :sections [
      {
        :label "Space2D" 
        :set "set_ISpace2D" 
        :tags [["ISpace2D" "metricID"]]
      }
    ]
  } 
  {
    :label "TimeModel" 
    :sections [
      {
        :label "Continuous" 
        :set "set_IContinuousTimeModel" 
        :tags [["IContinuousTimeModel" "dilation"] ["IContinuousTimeModel" "contDelay"]]
      } 
      {
        :label "Discrete" 
        :set "set_IDiscreteTimeModel" 
        :tags [["IDiscreteTimeModel" "delta"] ["IDiscreteTimeModel" "timePerTickInMs"] ["IDiscreteTimeModel" "discDelay"]]
      }
    ]
  } 
  {
    :label "Allgemeine Einstellungen" 
    :tags [["global" "debugLevel"]]
  }
]