[
  {
    :label "Ergebnis - Produktadaptionen" 
    :icon "fa fa-map-marker" 
    :description "Gibt die Anzahl der Adaptionen für die Agentengruppe in diesem Jahr an." 
    :tags [["AgentGroup" "Product" "adaptions"]]
  }
]