{#_"Aufbau eines Parameters: (par|set|sca)_type_module_reference_...
    Die drei Elemente type, module und reference werden wie folgt als Tags interpretiert:"
 :type       {"A" "Fläche" 
              "Alpha" "Anteil" 
              "C" "Kosten" 
              "COP" "Koeffizient" 
              "Disposal" "Entsorgungsabfälle" 
              "E" "Elektrische Energie" 
              "Emis" "Emission" 
              "Eta" "Effizienz" 
              "F" "Tarif" 
              "I" "Einstrahlung" 
              "Inc" "Anreiz" 
              "L" "Last" 
              "Life" "Laufzeit" 
              "Marginals" "Marginalkosten"
              "O" "Aufwendung" 
              "P" "Elektrische Leistung" 
              "Q" "Thermische Leistung" 
              "R" "Gebühr" 
              "S" "Kundenanzahl" 
              "SOC" "Ladestand" 
              "T" "Temperatur" 
              "V" "Windgeschwindigkeit" 
              "W" "Thermische Energie" 
              "X" "Statusvariable"
              "tech" "Technologie"
			  "OH" "Optimierungshoheit Energieflüsse und Leistungsmessung"
			  "COH" "Optimierungshoheit Finanzen" 
			  }
 :module     {"MS" "Marktseite"
              "TS" "Handelseite" 
              "SS" "Zentrale Erzeugungsseite" 
              "NS" "Netzseite" 
              "PS" "Politikseite" 
              "DES" "Dezentrale Erzeugungsseite" 
              "DS" "Nachfrageseite" 
              "ES" "Umweltseite"
              "SMS" "Vertriebsseite"
			  "orga" "Organisationsseite"
			  "cust" "Verbraucherseite"
			  "powerE" "Elektrische Leistungsmessung"
			  "powerW" "Thermische Leistungsmessung"
			  "powerG" "Erdgas Leistungsmessung"
			  "BM" "Geschäftsmodell"}
 :reference  {"customermodel" "Kundenmodell"                           
              "organizationmodel" "Organisationsmodell"
              "ES" "Elektrischer Speicher" 
              "TS" "Thermischer Speicher" 
              "NGB" "Natural Gas Boiler" 
              "EB" "Elektrischer Boiler"
              "HP" "Wärmepumpe" 
              "PV" "Photovoltaik"
              "WT" "Wind Turbine"
              "PHS" "Pumpspeicherkraftwerk"
              "RC" "Müllverbrennungsanlage"
              "CHP" "Blockheizkraftwerk"
              "HR" "Heizstab der Wärmepumpe"
              "RH" "Laufwasserkraftwerk"
              "E" "Elektrische Energie"
              "W" "Thermische Energie"
              "P" "Elektrische Leistung"
              "Q" "Thermische Leistung"
              "fuel" "Brennstoff" 
              "CO2" "CO2"
              "GC" "Green Certification"
              "thermalgrid" "Fernwärmenetz"
              "region" "Region"
              "EUR" "Euro"
              "CHF" "Schweizer Franken"
			  "PVdirect" "PV-Direktvermarktung"}}
