{
  :type {
          "global" "global"
          "AgentGroup" "AgentGroup"
          "Product" "Product"
  }
  :module {
            "seed" "seed"
            "numberOfAgents" "numberOfAgents"
            "adaptionRate" "adaptionRate"
            "name" "name"
  }
  :reference {
             "baum" "baum"
  }
}