[
  {
    :label "Einstellungen" 
    :icon "fa fa-institution" 
    :description "Allgemeine Einstellungen" 
    :tags [["Tax" "PS" "vat"]]
  } 
  {
    :label "Agenten" 
    :set "set_side_cust" 
    :icon "fa fa-thermometer-half" 
    :description "Agentengruppen in der Simulation" 
    :tags [["S" "DS"] ["kg" "modifier"] ["IuO" "ESector" "CustSide"]]
  }
]