[
  {
    :label "Allgemeine Einstellungen" 
    :icon "fa fa-map-marker" 
    :description "Allgemeine Einstellungen fuer die Simulation." 
    :tags [["global" "seed"] ["global" "baum"]]
  } 
  {
    :label "Agentengruppen" 
    :set "set_AgentGroup" 
    :icon "fa fa-map-marker" 
    :description "Agentengruppen in der Simulation" 
    :tags [["AgentGroup" "numberOfAgents"] ["AgentGroup" "adaptionRate"]]
  } 
  {
    :label "Produkte" 
    :set "set_Product" 
    :icon "fa fa-map-marker" 
    :description "angebotene Produkte" 
    :tags [["Product" "name"]]
  }
]